

.main-container
{
    background-image: url('../Pages/architecture.jpg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-blend-mode:color-burn;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
}

.home-heading 
{
    width: 100%;
    height: 100%;
    font-size: 26px;
    font-family:'Poppins', sans-serif;;
    color: rgb(255, 250, 250);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}