@font-face {
  font-family: 'Chivo Mono';

  src: url('../../Font/chivomono-light-webfont.woff') format('woff'),
       url('../../Font/chivomono-light-webfont.woff2') format('woff2'),
       url('../../Font/ChivoMono-Bold.woff2') format('woff2');
  font-weight: 200;
}


.logo {
  position: absolute;
  top: 1px;
  left: 20px;
  z-index: 2
}

.logo img {
  width: 80px;
}

.home-heading {
  height:105vh;
  background-color: #FAF9F6;

}
.heading_01
{
  width: 100%;
  float: right;
}
.heading_01 h2{
  text-align: center;
  color:black;
  font-family: "Chivo Mono";
  margin: 10px auto;
  position: relative;
  z-index: 1;
  margin-bottom: 1rem;
  font-size:5.5rem;
}
.heading_01 h2
{
  margin-left: 8%;
}
.main-image{
  width:100%;
  height: 50vh;
  position: absolute;
  top:45%;
  left: 0;
  z-index: 2;
}
.main-image img{
  width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 50rem 20rem;   
}
.acont
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.arrow-button {
  width: 20%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 10%;
  right: 15%; 

  z-index: 2;
}

.icon {
  font-size: 10vw; 
  transition: transform 0.3s;
  color: #001F3F;
}

.arrow-button:hover .icon {
  transform: scale(1.2); 
}

.arrow-button:focus {
  outline: none;
}

.left-quote p {
  font-family: "Chivo Mono";
  line-height: 160%;
  text-align: center;
}

.right-quote p{
  font-family:"Chivo Mono";
  text-align: center;
  line-height: 160%;
}

.left-quote{
  float: left;
  padding-left: 1rem;
  width: 15%;
}

.right-quote{
  float:right;
  width: 15%;
  padding-right: 1rem;
  margin-top: 15%;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../Assets/recreational/recreational_04.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); 
}


.hero .heading {
  text-align: center;

}

.hero .heading h1 {
  font-size: 40px;
  font-family:'Chivo Mono';
  margin-bottom: 10px;
  color:#e1d9cf;

}

.hero .heading h2 {
  font-size: 18px;
  color: #e1d9cf;  
  font-family:'Chivo Mono';
}


.teams {
  text-align: center;
  padding: 50px 0;
  background-color: #e1d9cf;
}

.teams h1 {
  font-size: 28px;
  font-family:'Chivo Mono';
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

.profile-card {
  width: 300px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #FAF9F6;
  overflow: hidden; 
}

.profile-card .profile-image {
  width: 100%;
  height: 70%; 
  object-fit: cover;
}

.profile-card .profile-details {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.profile-card .profile-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  font-family:'Chivo Mono';
}

.profile-card .profile-position {
  font-size: 16px;
  color: #888888;
  font-family: "Chivo Mono";
}

.profile-social-links {
  display: flex;
  justify-content: center;
}

.profile-social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #e1d9cf;
  margin: 4px;
  color: #FAF9F6;
  text-decoration: none;
}

.profile-social-links a:hover {
  background-color: #ccc;
}

.home-project {
  height: 100vh;
  background-color: #FFFFF7;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Chivo Mono';
}

.project-heading {
  padding: 1rem;
  text-align: center;
}

.project-heading h1{
  font-size: 3rem;
}

.project-heading_2 {
  padding: 1.5rem;
  margin-top: 1rem;
}

.project-content {
  display: flex;
  align-items: center;
  padding-left:1rem;
  padding-right:1rem;
  margin-top: 1rem;
}

.project-image {
  width: 50%;
}

.project-image img {
  width: 100%;
  display: block;
}

.project-details {
  flex: 1;
  padding-left: 1.5rem;
  padding-right:1.5rem;
}

.project-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 10rem;
  height: auto;
  margin-top: 2rem;
}


.project-button .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #001F3F;
  border-radius: 1.625rem;
}

.project-button .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #FAF9F6;
}

.project-button .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.project-button .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.3rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #FAF9F6;
  border-right: 0.125rem solid #FAF9F6;
  transform: rotate(45deg);
}

.project-button .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 3vw;
  color: #001F3F;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.project-button:hover .circle {
  width: 100%;
}

.project-button:hover .icon.arrow {
  background: #FAF9F6;
  transform: translate(1rem, 0);
}

.project-button:hover .button-text {
  color: #FAF9F6;
}


.project-details p {
  margin-top: 2rem;
}
.resp-btn
{
  display: none;
    position: relative;
    background-color: white;
    color: black;
    transform: perspective(1px) translateZ(0);
}
.resp-btn::after
{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:black;
    transition: all 0.2s ease-in-out;
    transform: scaleY(0);
    transform-origin: 100% 0%;
    transition-property: transform;
    transition-duration: 0.65s;
}
.resp-btn:hover
{
    color: white;
    cursor: pointer;
}
.resp-btn:hover::after
{
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

@media (max-width: 650px) {
      .acont img
      {
        display: none;
      }
      .home-heading
      {
        background-image: url("../../Assets/recreational/recreational_12.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
      }
      .resp-btn
      {
        display: block;
        position: relative;
        padding: 4% 7%;
        font-size: 5vw;
        font-family:'Chivo Mono';
        font-weight: 600;
        outline: none;
        border: none;
        margin-top: 15%;
      }
      .arrow-button
      {
        right: 13%;
        top:50%;
      }
}
@media (max-width: 1050px) {
  .main-image{
    margin-top: 7%;
  }
  .heading_01
  {
    margin-bottom: 2%;
  }
  .home-heading
  {
    height: 100vh;
  }
}
@media (max-width: 768px) {
  body{
    overflow-x: hidden;
  }

  .hero .heading h1 {
    font-size: 48px; 
    font-family:'Chivo Mono';
  }
  .heading_01 h2 {
    font-size: 11vw;
    margin-top:9rem;
  }
  .heading_01
  {
    margin-top: 5%;
  }
  .left-quote
  {
    display: none;
  }
  .right-quote
  {
    display: none;
  }
  .main-image
  {
    margin-top: 17%;
  }
  .hero .heading h2 {
    font-size: 14px; 
    font-family:'Chivo Mono';
  }
  

  .home-container {
    padding-top: 23em; 
    padding-bottom: 6em; 
    padding-left: 1.5em; 
    padding-right: 1.5em; 
    font-family: "Chivo Mono";
  }
  .home-container h1{
    font-size: 3rem;
  }

  .home-container h2{
    font-size: 1rem;
  }

.home-project {
  height: 130vh;
  background-color: #FFFFF7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Chivo Mono';
}

.project-heading {
  padding: 1rem;
  text-align: center;
}

.project-heading h1 {
  font-size: 3rem;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.project-image {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
}

.project-image img {
  width: 100%;
  display: block;
}

.project-details {
  text-align: center;
  padding: 1rem;
}

.project-button .button-text{
  margin-left: 6vw;
}
.project-button:hover .button-text{
  margin-left: 6vw;
}
  .team-container {
    flex-direction: column; 
    align-items: center; 
    margin-top: 5rem; 
  }

  .profile-card {
    width: 80%; /* Adjust the width of the profile cards for smaller screens */
    margin: 10px; /* Adjust margin for smaller screens */
  }

  .profile-card .profile-image {
    height: 75%; /* Set an appropriate height for the profile image on smaller screens */
  }

  .profile-card .profile-name {
    font-size: 18px; /* Adjust font size for smaller screens */
  }

  .profile-card .profile-position {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

/* Add parallax effect to the hero section */
.hero {
  background-attachment: fixed;
}

/* Add parallax effect to the video section */
.video {
  background-attachment: fixed;
}

/* Add parallax effect to the teams section */
.teams {
  background-attachment: fixed;
}

/* Add styles for the team member parallax layers */
.parallax-layer {
  will-change: transform;
  transition: transform 0.3s ease-out;
  transform: translateY(0); /* Add this line to reset the initial translateY position */
}
