@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --poppins: 'Poppins', sans-serif;

  --light: #c4c4c4;
  --dark: #161616;
  --white: #f7f7f7;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}
.main-container_03
{
  background-blend-mode:color-burn;
  background-color: #e1d9cf;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
}

.home-heading_03
{
  width: 100%;
  height: 50%;
  font-size: 26px;
  font-family:'Poppins', sans-serif;;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.app-navbar_03
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav1_03
{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav1_03 li
{
  margin: 0 4rem;
  cursor: pointer;
}

.navitem_03 .navlink_03
{
  position: absolute;
  color: black;
  text-decoration: none;
  padding: 7px 0;
  font-size: 1.3rem;
}

.nav1_03 .navlink_03::after
{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background: black;
  transition: 0.4s ease-out;
}

.nav1_03 .navlink_03:hover::after
{
  left:0;
  width: 100%;
}


.row_01
{
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
}


.team-col_01
{
  flex-basis: 25%;
  border-radius: 10px;
  margin-bottom: 30px;
  position:relative;
  overflow: hidden;
}

.team-col_01 img
{
  width: 100%; 
  height: 100%;
  display: block; 
}

.layer
{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover 
{
    background: #F0C993;
    cursor: pointer;
}
.layer h3 
{
    width: 100%;
    height: 10%;
    font-weight: 400;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
}
.layer:hover h3 
{
    bottom: 49%;
    opacity: 1;
}