.footer 
{
    height: 100vh;
    padding: 40px;
    background-color: black;
}

.nav-bar
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-navitem
{
    list-style-type: none;
}
.footer-navitem a 
{
    color: #e1d9cf;
    font-size: 30px;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    list-style: none;
}

.social-media 
{
    display: flex;
    justify-content: space-between;
}

.contact h2 
{
    color: #e1d9cf;
}


.contact p
{
    color: #e1d9cf;
}

.logo 
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo img 
{
    width: 150px;
}

.link 
{
    display:flex;
    color:#e1d9cf;
    justify-content:space-between;
    padding: 0 2rem ;
    
}

.link a
{
    color: #e1d9cf;
    
}

.map-links
{
    color:#e1d9cf;
}

.work-hour
{
    color:#e1d9cf;
}

.copy-right
{
    color:#e1d9cf;
    margin-top: 3rem;
    text-align: center;
}