.about-us {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../Assets/about.jpeg');
    background-size: cover;
}
  
  .hero-heading {
    text-align: center;
    margin-top: 20px;
    color: #F6F6F6;
  }
  
  .navbar {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .about-description {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F6F6F6;
  }
  
  .aboutus-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  
  .content-description {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .content-description p {
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
  }
  
  .content-description img {
    width: 50%;
    height: auto;
  }
  
  .content-description.even {
    flex-direction: row-reverse;
  }
  
  .content-description.even p {
    order: 2;
  }
  
  .content-description.even img {
    order: 1;
  }
  
  .content-description.odd {
    flex-direction: row;
  }
  
  .content-description.odd p {
    order: 2;
  }
  
  .content-description.odd img {
    order: 1;
  }